<template>
  <div class="sample-global-component">
    <img src="@/assets/logo.png" alt="Sample image">
    <div class="text-content">
      <h1>Sample Global Component</h1>
      <h4>This plugin should be globally registered in the global Vue app.</h4>
      <p>Components that are globally registered are best suited use within CSHTML that will be emedded in an existing app.</p>
    </div>
  </div>
</template>

<script>
export default {
  // .. nothing here yet
}
</script>

<style lang="scss" scoped>
.sample-global-component {
  background: #f2f2f2;
  border: 1px solid #ccc;
  display: flex;
}
img {
  height: 100px;
  width: 100px;
  margin-right: 1rem;
}
h1 {
  font-size: 2rem;
}
h1, h4 {
  margin: 0;
}
</style>
