<template>
  <sample-admin-component />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import SampleAdminComponent from '../components/SampleAdminComponent.vue'

@Component({
  components: {
    SampleAdminComponent,
  },
})
export default class extends Vue {
  // .. Nothing here yet
}
</script>

<style scoped></style>
