<template>
  <div class="sample-component">
    <h1>Sample Component</h1>
    <h4>This plugin should be directly imported into a Vue app.</h4>
    <p>Components that are not globally registered are best suited for Admin screens where individual Vue apps are hosting the UI.</p>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

@Component
export default class SampleAdminComponent extends Vue {
  @Prop({ default: null }) productId!: number | null
}
</script>

<style scoped>
.sample-component {
  background: #f2f2f2;
  border: 1px solid #ccc;
  padding: 2rem;
  border: 1px solid #ccc;
  margin: 10px;
}
h1 {
  font-size: 2rem;
}
h1, h4 {
  margin: 0;
}
</style>
